.note {
    height: 200px;
    
    min-width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;


}

.note:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}